<h1>Zoning Districts</h1>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>CIC Codes</th>
      <th>Home Occ. Prohibited?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% for zone in @zoning_districts %>
    <tr class="<%= cycle("odd", "even") -%>">
      <td><%= zone.code %></td>
      <td><%= zone.name %></td>
      <td width="100px"><%= zone.active_cic_codes.size %></td>
      <td width="130px"><%= on_the_spot_edit zone, :home_occ_prohibited, :type => :checkbox, :display_method => :home_occ_prohibited_name %></td>
      <td width="80px"><%= link_to 'Permissions', admin_zoning_district_path(zone), :class => 'btn btn-mini' %></td>
      <td width="40px"><%= link_to 'Edit', edit_admin_zoning_district_path(zone), :class => 'btn btn-mini' %></td>
      <td width="50px"><%= button_to 'Delete', admin_zoning_district_path(zone), method: :delete, confirm: 'Delete this Zoning District?', :class => 'btn btn-mini btn-danger' %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to 'New Zoning District', new_admin_zoning_district_path, :class => 'btn btn-success' %>
</div>
<br />