<h1><%= @zoning_district.code %> &mdash; <%= @zoning_district.name %></h1>
<p><%= @zoning_district.description %></p>

<% if flash[:notice].present? %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>

<%= will_paginate @cic_code_zoning_districts, :container => false %>

<% if @zoning_district.cic_code_zoning_districts.blank? %>
  <p>There are no CIC Codes associated with this Zoning District.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Industry</th>
        <th>Subindustry</th>
        <th>Permission Name / Permit Type</th>
        <th>Explanation (if Unknown)</th>
      </tr>
    </thead>
    <tbody>
      <% for cic_code_zoning_district in @cic_code_zoning_districts %>
          <tr class="<%= cycle("odd", "even") -%>">
            <td>
              <%= link_to cic_code_zoning_district.cic_code.code, edit_admin_cic_code_path(cic_code_zoning_district.cic_code, :zoning_district_id => @zoning_district.id) %>
            </td>
            <td><%= cic_code_zoning_district.cic_code.industry %></td>
            <td><%= cic_code_zoning_district.cic_code.subindustry %></td>
            <td width="30%"><%= on_the_spot_edit cic_code_zoning_district, :permission, :display_text => cic_code_zoning_district.permission_name, :type => :select, :data => [ [1,'Zoning Clearance'], [2,'AUP'], [3,'SUP'], [4,'Prohibited'], [5,'Unknown'] ] %></td>
            <td><%= on_the_spot_edit cic_code_zoning_district, :notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

