<h1>About you</h1>

<%= semantic_form_for User.new do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name,  :as => :string,   :label => "Your First Name",      :placeholder => "John" %>
    <%= f.input :last_name,   :as => :string,   :label => "Your Last Name",       :placeholder => "Smith" %>
    <%= f.input :email,       :as => :email,    :label => "Your Email Address",   :placeholder => "you@domain.com" %>
    <%= f.input :phone,       :as => :phone,    :label => "Your Phone Number",    :placeholder => "(123) 456-7890" %>
    <%= f.input :role,        :as => :radio,    :label => "Are you the owner of this business, or are you filling this out for the owner?",   :collection => ["I own this business", "I'm filling this out on behalf of the owner"] %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit,     :as => :button,   :label => "Next, about your business." %>
  <% end %>
<% end %>