<div class="page-header">
  <h1>Submitted Applications</h1>
  <p>Click on any application to see details.</p>
</div>

<table class="table table-striped">
  <thead>
    <th>Business</th>
    <th>Applicant</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
  <% for application in @applications %>
    <tr class="<%= cycle("odd", "even") -%>">
      <td><%= application.user.answers.find_by_field_name('business_name').try(:value) %></td>
      <td>
        <%= application.user.answers.find_by_field_name('applicant_first_name').try(:value) %>
        <%= application.user.answers.find_by_field_name('applicant_last_name').try(:value) %>
      </td>
      <td width="40px"><%= link_to 'View', admin_application_path(application), :class => 'btn btn-mini' %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
