<div class="page-header">
  <h1>Submitted Applications &rarr; Application</h1>
</div>

<!-- APPLICANT -->
<dl>
  <dt>Applicant Name</dt>
  <dd><%= @user.answers.where(:field_name => "applicant_first_name") -%> <%= @user.answers.where(:field_name => "applicant_last_name") -%></dd>
</dl>

<dl>
  <dt>Applicant Email</dt>
  <dd><%= @user.answers.where(:field_name => "applicant_email") -%></dd>
</dl>

<dl>
  <dt>Applicant Phone</dt>
  <dd><%= @user.answers.where(:field_name => "applicant_phone") -%></dd>
</dl>

<!-- OWNER -->
<dl>
  <dt>Owner Name</dt>
  <dd><%= @user.answers.where(:field_name => "owner_first_name") -%> <%= @user.answers.where(:field_name => "owner_last_name") -%></dd>
</dl>

<dl>
  <dt>Owner Email</dt>
  <dd><%= @user.answers.where(:field_name => "owner_email") -%></dd>
</dl>

<dl>
  <dt>Owner Phone</dt>
  <dd><%= @user.answers.where(:field_name => "owner_phone") -%></dd>
</dl>

<br><h3 class="h3">Business</h3>

<dl>
  <dt>Business Name</dt>
  <dd><%= @user.answers.where(:field_name => "business_name") -%></dd>
</dl>

<dl>
  <dt>Business Type</dt>
  <dd><%= @user.answers.where(:field_name => "business_code (CIC)") -%></dd>
  <dd><%= @user.answers.where(:field_name => "class_a|class_b|class_c") -%></dd>
  <dd><%= @user.answers.where(:field_name => "type_1|type_2|type_3") -%></dd>
</dl>

<dl>
  <dt>Business Structure</dt>
  <dd><%= @user.answers.where(:field_name => "business_structure") -%></dd>
</dl>

<br><h3 class="h3">Location</h3>

<dl>
  <dt>Home Occ?</dt>
  <dd><%= @user.answers.where(:field_name => " (answers.location_type == "home") ? "yes" : "no" ") -%></dd>
</dl>

<dl>
  <dt>Business Physical Address</dt>
  <dd>
    <%= @user.answers.where(:field_name => "business_physical_address_street") -%><br>
    <%= @user.answers.where(:field_name => "business_physical_address_detail") -%><br>
    <%= @user.answers.where(:field_name => "business_physical_address_city") -%>, <%= @user.answers.where(:field_name => "business_physical_address_state") -%> <%= @user.answers.where(:field_name => "business_physical_address_zip") -%>
  </dd>
</dl>

<dl>
  <dt>Business Mailing Address</dt>
  <dd>
    <%= @user.answers.where(:field_name => "business_mailing_address_street") -%><br>
    <%= @user.answers.where(:field_name => "business_mailing_address_detail") -%><br>
    <%= @user.answers.where(:field_name => "business_mailing_address_city") -%>, <%= @user.answers.where(:field_name => "business_mailing_address_state") -%> <%= @user.answers.where(:field_name => "business_mailing_address_zip") -%>
  </dd>
</dl>

<dl>
  <dt>Zoning District</dt>
  <dd><%= @user.answers.where(:field_name => "@todo") -%></dd>
</dl>

<dl>
  <dt>Prior Use</dt>
  <dd><%= @user.answers.where(:field_name => "@todo") -%></dd>
</dl>
