<h1>OpenCounter Business Application</h1>


<h2>Business</h2>

<p>Business Name: <%= @user.current_business.name -%></p>

<div>
  Business Type:
  <ul>
    <li>Code: <%= user_answer_value(@user, "business_code") -%> (used for planning permit)</li>
    <li>Class A/B/C: <%= user_answer_value(@user, "business_type_class") -%> (used for business license)</li>
    <li>Type: <%= user_answer_value(@user, "business_type_type") -%> (used for BIDA)</li>
  </ul>
</div>

<p>Business Structure: <%= user_answer_value(@user, 'business_structure') -%></p>



<h2>Applicant</h2>

<p>Applicant Name: <%= @user.first_name -%> <%= @user.last_name -%></p>

<p>Applicant Email : <%= @user.email -%></p>

<p>Applicant Phone: <%= @user.phone -%></p>


<h2>Home Occupation</h2>

<%- if user_answer_value(@user, "is_owner") == "no" -%>
  <p>Owner Name: <%= user_answer_value(@user, "owner_first_name") -%> <%= user_answer_value(@user, "owner_last_name") -%></p>
  <p>Owner Email: <%= user_answer_value(@user, "owner_email") -%></p>
  <p>Owner Phone: <%= user_answer_value(@user, "owner_phone") -%></p>
<%- else -%>
  This applicant is the owner.
<% end -%>


<h2>Location</h2>

<p>  
  <%- if @user.current_business.answers.where(:location_type) == "home" -%>
    Home Occ: True
  <%- else -%>
    Home Occ: False
  <% end -%>
</p>

<p>
  Business Physical Address:
  <%= user_answer_value(@user, "business_physical_address_street") -%>
  <%= user_answer_value(@user, "business_physical_address_detail") -%>
  <%= user_answer_value(@user, "business_physical_address_city") -%>,   
  <%= user_answer_value(@user, "business_physical_address_state") -%> <%= user_answer_value(@user, "business_physical_address_zip") -%>
</p>

<p>
  Business Mailing Address:
  <%= user_answer_value(@user, "business_mailing_address_street") -%>
  <%= user_answer_value(@user, "business_mailing_address_detail") -%>
  <%= user_answer_value(@user, "business_mailing_address_city") -%>,   <%= user_answer_value(@user, "business_mailing_address_state") -%>   <%= user_answer_value(@user, "business_mailing_address_zip") -%>
</p>

<p>Zoning District: <%= user_answer_value(@user, "zoning") -%></p>

<p>Business Improvement District: <%= user_answer_value(@user, "bid") -%> </p>

<p>APN: <%= user_answer_value(@user, "apn") -%></p>

<p>Prior Use: <%= user_answer_value(@user, "prioruse") -%></p>

<h2>Details</h2>

[@todo, data from requirements panels]