<div class="page-header">
  <h1>Santa Cruz's industry classification codes <small>[CIC Codes]</small></h1>
  <p>Click on any industry, sub-industry, or keyword to edit it. Your changes will be saved when you click away or hit enter.</p>
</div>

<table class="table table-striped">
  <thead>
    <th>Code</th>
    <th>Industry</th>
    <th>Sub-industry</th>
    <th>Requirements</th>
    <th>Keywords</th>
    <th></th>
  </thead>
  <tbody>
    <% for cic_code in @cic_codes %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td><%= cic_code.code %></td>
        <td><%= cic_code.industry %></td>
        <td><%= cic_code.subindustry %></td>
        <td><%= cic_code.requirement_names %> <%= link_to 'add/edit', edit_admin_cic_code_path(cic_code, :requirements => true) %></td>
        <td><%= on_the_spot_edit cic_code, :keywords %></td>
        <td width="40px"><%= link_to 'Edit', edit_admin_cic_code_path(cic_code), :class => 'btn btn-mini' %></td>
        <td width="50px"><%= button_to 'Delete', admin_cic_code_path(cic_code), :method => :delete, :confirm => 'Delete this CIC Code?', :class => 'btn btn-mini btn-danger' %></td>
        
      </tr>
    <% end -%>
  </tbody>
</table>

<div>
  <%= link_to 'New CIC Code', new_admin_cic_code_path, :class => 'btn btn-success' %>
</div>
<br />