<h1>Editing CIC Code <%= @cic_code.code %></h1>

<%= form_for(:cic_code, :url => admin_cic_codes_path, :html => {:method => :post}) do |f| %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <div class="actions">
    <br />
    <%= f.submit 'Save', :class => 'btn btn-success btn-large' %>
    &nbsp;&nbsp;
    <%= link_to 'Cancel', admin_cic_codes_path %>
  </div>
<% end -%>