<h1>Requirements for CIC Code <%= @cic_code.code %></h1>

<table class="table table-striped">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Jurisdiction</th>
  </thead>
  <tbody>
    <% for requirement in @requirements %>
      <tr class="<%= cycle("odd", "even") -%>">
        <td width="20px"><%= check_box_tag "requirement_#{requirement.id}" %>
        <td><%= requirement.name %></td>
        <td><%= requirement.jurisdiction %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
