<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OpenCounter - Admin</title>

    <!-- Application styles. -->
    <%= stylesheet_link_tag   "application" %>
    <%= requirejs_include_tag "application" %>

    <%= stylesheet_link_tag :on_the_spot %>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :on_the_spot %>
    <%= csrf_meta_tag %>
    
    <meta charset="utf-8">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- KISSMetrics -->
    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || 'b51678933486d599c97ce18f3792fbd282107461';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>

  </head>

  <body>
    <div class="container-fluid">
      <div id="admin_header">
        <div style="float: right;">
          <% unless current_user %>
            <%= link_to 'Log Out', destroy_admin_user_session_path, :method => :delete %>
          <% end %>
        </div>
        <div>
          <%= link_to 'Applications', admin_applications_url %> |
          <%= link_to 'CIC Codes', admin_cic_codes_url %> |
          <%= link_to 'Requirements', admin_requirements_url %> |
          <%= link_to 'Users', admin_admin_users_url %> |
          <%= link_to 'Zoning Districts', admin_zoning_districts_url %>
        </div>
      </div>
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% elsif alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
    <!-- Application source. -->
    <script data-main="/assets/app/config" src="/assets/libs/require.js"></script>
    <%= requirejs_include_tag "application" %>
  </body>
</html>
