<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OpenCounter - Start your business in Santa Cruz, CA</title>

    <!-- Application styles. -->
    <%= stylesheet_link_tag   "application" %>
    <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Make current_user and current_business available in the templates and modules -->
    <script type="text/javascript">
      window.currentUser = {
        name : "<%=current_user.try(:full_name)%>",
      }
      window.currentBusiness = {
        name : "<%=current_business.try(:business_name)%>"
      }
    </script>
    
  </head>

  <body>
  <!-- Main container. -->
    <div role="main" id="main"></div>

    <!-- Application source. -->
    <script data-main="/assets/app/config" src="/assets/libs/require.js"></script>
    <%= requirejs_include_tag "application" %>
  </body>
</html>
